<h1>Add to creature list</h1>

<form action="/prehistoric_creatures" method="POST">
    Name: <input type="text" name="name">
    Type: <input type="text" name="type">
    ImageURL: <input type="text" name="img_url">
    <input type="submit">
</form>